{{ header }}{{ column_left }}{{ column_right }}
<div class="container">
	<h1>{{ heading_title }}</h1>
	<h4>{{ heading_subtitle }}</h4>
	<p>{{ message }}</p>

	{{ content_bottom }}
</div>
{{ footer }}