{{ header }}{{ column_left }}
  <div id="content">
    <div class="page-header">
      <div class="container-fluid">
          <div class="pull-right">
            <button type="submit" form="form-amazon-login-pay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
          </div>
           <h1>{{ heading_title }}</h1>
          <ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
		  </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
        </div>
        <div class="panel-body">
          {% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
          <div class="content">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payu-payment" class="form-horizontal">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="">{{ entry_merchant }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_payu_merchant" value="{{ payment_payu_merchant }}" class="form-control" />
                    {% if error_merchant %}
                      <div class="text-danger">{{ error_merchant }}</div>
                    {% endif %}
                </div>
              </div>

              <div class="form-group required">  
                <label class="col-sm-2 control-label" for="">{{ entry_secretkey }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_payu_secretkey" value="{{ payment_payu_secretkey }}" class="form-control" />
                 
                 {% if error_secretkey %}
                    <div class="text-danger">{{ error_secretkey }}</div>
                 {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_debug }}</label>
                <div class="col-sm-10">
                  <select name="payment_payu_debug" class="form-control">
                    <option value="1" {% if payment_payu_debug != 0 %} selected="selected" {% endif %} >{{ entry_debug_on }}</option>
                    <option value="0" {% if payment_payu_debug == 0 %} selected="selected" {% endif %} >{{ entry_debug_off }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_LU }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_payu_LU" value="{{ payment_payu_LU }}" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_backref }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_payu_backref" value="{{ payment_payu_backref }}" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-ipn-url">{{ entry_ipn }}</label>
                <div class="col-sm-10">
                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" readonly value="{{ payment_payu_ipn }}" id="input-ipn-url" class="form-control" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_currency }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_payu_currency" value="{% if payment_payu_currency == "" %}RUB{% else %}{{ payment_payu_currency }}{% endif %}" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_vat }}</label>
                <div class="col-sm-10">
                  <select name="payment_payu_vat" class="form-control">
                    <option value="0" {% if payment_payu_vat != '21' %} selected="seleted" {% endif %}>0%</option>
                    <option value="21" {% if payment_payu_vat == '21' %} selected="seleted" {% endif %}>20%</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_order_type }}</label>
                <div class="col-sm-10">
                  <select name="payment_payu_entry_order_type" class="form-control">
                    <option value="0" {% if payment_payu_entry_order_type == 0 %} selected="selected" {% endif %} >{{ entry_order_net }}</option>
                    <option value="1" {% if payment_payu_entry_order_type != 0 %} selected="selected" {% endif %} >{{ entry_order_gross }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_language }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_payu_language" value="{%if payu_language == "" %}RU{% else %}{{ payment_payu_language }}{% endif %}" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_order_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_payu_order_status_id" class="form-control">
                    {% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_order_status_id %}
                      <option value="{{ order_status.order_status_id }}" selected="selected" >{{ order_status.name }}</option>
					{% else %}
					   <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_payu_status" class="form-control">
                    <option value="1" {% if payment_payu_status != 0 %} selected="selected" {% endif %} >{{ text_enabled }}</option>
                    <option value="0" {% if payment_payu_status == 0 %} selected="selected" {% endif %} >{{ text_disabled }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_payu_sort_order" value="{{ payment_payu_sort_order }}" size="1" class="form-control" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ footer }}